table {
    border-collapse: collapse;
    width: 100%;
}

.empty {
    text-align: center;
    padding: 20%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-top: none;
}

th, td {
    padding: 8px;
}

th {
    text-align: center;
    border: 1px solid;
    background-color: cornflowerblue;
    color: white;
}

td {
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

tr:nth-child(even){background-color: #f2f2f2}





